<template>
  <div>
    <p>{{ message }}</p>
    <router-link to="/">Go to Home</router-link>
  </div>
</template>

<script>
export default {
  name: 'confirm-email',
  data: () => ({
    message: 'Confirming account'
  }),
  computed: {
    csrfReady: function () {
      return this.$store.state.csrfReady;
    }
  },
  watch: {
    csrfReady: function () {
      var data = { token: this.$route.query.token };
      data._csrf = window.$cookies.get('_csrf');
      this.$io.socket.post('/api/confirm-email', data, (res, jwr) => {
        switch(jwr.statusCode) {
          case 200:
            this.message = "Account successfully confirmed. Have fun !"
          break;
          case 498:
            this.message = "Token invalid or expired"
          break;
        }
      });
    }
  }
}
</script>

<style>

</style>
