<template>
  <div>
    <p>{{ message }}</p>
    <v-form v-model="validFormForgottenPassword" ref="formForgottenPassword" v-on:keyup.enter.native="changePassword">
      <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" type="password" :rules="passwordRules" v-on:blur="$refs.formRegistration.validate()"></v-text-field>
      <v-text-field id="confirmPassword" v-model="confirmPassword" prepend-icon="lock" name="confirmPassword" label="Confirm password" type="password" :rules="confirmPasswordRules"></v-text-field>
      <v-layout row align-center>
        <v-spacer></v-spacer>
        <v-btn :disabled="!validFormForgottenPassword" flat color="success" v-on:click="changePassword">Change password</v-btn>
      </v-layout>
    </v-form>
    <router-link to="/">Go to Home</router-link>
  </div>
</template>

<script>
export default {
  name: 'forgotten-password',
  data: () => ({
    message: 'Changing password',

    validFormForgottenPassword: false,

    password: '',
    confirmPassword: '',

    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Password must be more than 8 characters',
      v => /[a-z]+/.test(v) || 'Password must contain at least one letter',
      v => /[0-9]+/.test(v) || 'Password must contain at least one number'
    ],
  }),
  computed: {
    confirmPasswordRules: function() {
      return [
        v => v == this.password || 'Passwords doesn\'t match',
      ];
    },
  },
  methods: {
    changePassword: async function () {
      await this.$refs.formForgottenPassword.validate();
      if(this.validFormForgottenPassword) {
        var data = { token: this.$route.query.token, password: this.password };
        data._csrf = window.$cookies.get('_csrf');
        this.$io.socket.post('/api/new-password', data, (res, jwr) => {
          switch(jwr.statusCode) {
            case 200:
              this.message = "Password successfully changed."
            break;
            case 498:
              this.message = "Token invalid or expired"
            break;
          }
        });
      }
    }
  },
}
</script>

<style>

</style>
