<template>
  <div>
    <p>{{ message }}</p>
    <router-link to="/">Go to Home</router-link>
  </div>
</template>

<script>
export default {
  name: 'recover-email',
  data: () => ({
    message: 'Recovering account'
  }),
  computed: {
    csrfReady: function () {
      return this.$store.state.csrfReady;
    }
  },
  watch: {
    csrfReady: function () {
      var data = { token: this.$route.query.token };
      data._csrf = window.$cookies.get('_csrf');
      this.$io.socket.post('/api/recover-email', data, (res, jwr) => {
        switch(jwr.statusCode) {
          case 200:
            this.message = "Email successfully recovered. The situation is worrisome, don't forget to change your password."
          break;
          case 498:
            this.message = "Token invalid or expired"
          break;
        }
      });
    }
  }
}
</script>

<style>

</style>
