<template>
  <v-card>
    <div v-switch="displayedViewComputed">
      <div v-case="'logIn'">
        <v-container>
          <v-card-actions>
          <v-spacer></v-spacer>
          </v-card-actions>
          <v-form v-model="validFormLogIn" ref="formLogIn" v-on:keyup.enter.native="login">
            <v-text-field v-model="emailAddress" prepend-icon="mail" name="email" label="Email" type="text" validate-on-blur></v-text-field>
            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" type="password" :rules="passwordRules"></v-text-field>
            <v-layout :class="$vuetify.breakpoint.xsOnly ? 'column' : 'row'" align-center>
              <v-container class="px-3 py-0">
                <v-checkbox v-model="rememberMe" label="Remember me"></v-checkbox>
              </v-container>
              <v-spacer></v-spacer>
              <v-btn flat color="success" v-on:click="login">Log in</v-btn><br v-if="$vuetify.breakpoint.smAndDown"/>
              <v-btn flat color="primary" v-on:click="register">Register</v-btn>
            </v-layout>
            <p style="text-align: center; font-size:12px; margin-top: -5px;"><a v-on:click="forgottenPassword">Forgotten password</a></p>
          </v-form>
        </v-container>
      </div>
    
      <div v-case="'registration'">
        <v-container py-2>
          <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon small v-on:click="$store.dispatch('accountPanelView/displayView','logIn')" >
            <v-icon>clear</v-icon>
          </v-btn>
          </v-card-actions>
          <v-form v-model="validFormRegistration" ref="formRegistration" v-on:keyup.enter.native="register">
            <v-text-field v-model="username" prepend-icon="person" name="username" label="Username" type="text" :rules="usernameRules" validate-on-blur></v-text-field>
            <v-text-field v-model="emailAddress" prepend-icon="mail" name="email" label="Email" type="text" :rules="emailRules" validate-on-blur></v-text-field>
            <v-autocomplete 
              v-model="placeId" 
              :items="cities" 
              :search-input.sync="cityString"
              v-on:keyup="(e) => { if (e.which<37 || e.which>40) { loadCities() } }"
              prepend-icon="home" 
              label="City" 
              name="city"
              :rules="cityRules" 
              auto-select-first
              item-text="name" 
              item-value="id">
            </v-autocomplete>
            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" type="password" :rules="passwordRules" v-on:blur="$refs.formRegistration.validate()"></v-text-field>
            <v-text-field id="confirmPassword" v-model="confirmPassword" prepend-icon="lock" name="confirmPassword" label="Confirm password" type="password" :rules="confirmPasswordRules"></v-text-field>
            <v-layout row align-center>
              <v-spacer></v-spacer>
              <v-btn :disabled="!validFormRegistration" flat color="success" v-on:click="register">Register</v-btn>
            </v-layout>
          </v-form>
        </v-container>
      </div>

      <div v-case="'loggedIn'">
        <div v-if="!$store.getters['me/loggedIn']">
          <p>Loading...</p>
        </div>
        <div v-else>
          <user-card editable :user="$store.state.me.user">
            <div v-if="$store.state.accountPanelView.displayedView=='settings'">
              <v-divider light></v-divider>
              <v-layout align-center column>
                <v-flex><v-btn flat small v-on:click="$store.dispatch('accountPanelView/displayView','changeEmail')">Change Email address</v-btn></v-flex>
                <v-flex><v-btn flat small v-on:click="$store.dispatch('accountPanelView/displayView','changePassword')">Change password</v-btn></v-flex>
                <v-flex><v-btn flat small v-on:click="$store.dispatch('accountPanelView/displayView','deleteAccount')" color="error">Delete Account</v-btn></v-flex>
              </v-layout>
            </div>
          </user-card>
        </div>
      </div>

      <div v-case="'changeEmail'">
        <v-container py-2>
          <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon small v-on:click="$store.dispatch('accountPanelView/displayView','loggedIn')" >
            <v-icon>clear</v-icon>
          </v-btn>
          </v-card-actions>
          <v-form v-model="validFormChangeEmail" ref="formChangeEmail" v-on:keyup.enter.native="changeEmail">
            <p style="text-align: center;">For security reasons, you won't be able to change your email <br/>again or delete your account the following seven days.</p>
            <v-text-field v-model="emailAddress" prepend-icon="mail" name="email" label="New email" type="text" validate-on-blur></v-text-field>
            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" type="password" :rules="passwordRules"></v-text-field>
            <v-layout row align-center>
              <v-spacer></v-spacer>
              <v-btn :disabled="!validFormChangeEmail" flat color="success" v-on:click="changeEmail">Change Email</v-btn>
            </v-layout>
          </v-form>
        </v-container>
      </div>

      <div v-case="'changePassword'">
        <v-container py-2>
          <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon small v-on:click="$store.dispatch('accountPanelView/displayView','loggedIn')" >
            <v-icon>clear</v-icon>
          </v-btn>
          </v-card-actions>
          <v-form v-model="validFormChangePassword" ref="formChangePassword" v-on:keyup.enter.native="changePassword">
            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Old password" type="password" :rules="passwordRules" v-on:blur="$refs.formChangePassword.validate()"></v-text-field>
            <v-text-field v-model="newPassword" prepend-icon="lock" name="newPassword" label="New password" type="password" :rules="passwordRules" v-on:blur="$refs.formChangePassword.validate()"></v-text-field>
            <v-text-field id="confirmPassword" v-model="confirmPassword" prepend-icon="lock" name="confirmPassword" label="Confirm new password" type="password" :rules="confirmNewPasswordRules"></v-text-field>
            <v-layout row align-center>
              <v-spacer></v-spacer>
              <v-btn :disabled="!validFormChangePassword" flat color="success" v-on:click="changePassword">Change Password</v-btn>
            </v-layout>
          </v-form>
        </v-container>
      </div>

      <div v-case="'deleteAccount'">
        <v-container py-2>
          <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon small v-on:click="$store.dispatch('accountPanelView/displayView','loggedIn')" >
            <v-icon>clear</v-icon>
          </v-btn>
          </v-card-actions>
          <v-form v-model="validFormDeleteAccount" ref="formDeleteAccount" v-on:keyup.enter.native="deleteAccount">
            <p style="text-align: center;">Your choice. An email will be sent to you and once<br/> you confirm, everything will be irreversably removed.</p>
            <v-text-field v-model="emailAddress" prepend-icon="mail" name="email" label="Email" type="text" validate-on-blur></v-text-field>
            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" type="password" :rules="passwordRules"></v-text-field>
            <v-layout row align-center>
              <v-spacer></v-spacer>
              <v-btn :disabled="!validFormDeleteAccount" flat color="error" v-on:click="deleteAccount">Delete my Account</v-btn>
            </v-layout>
          </v-form>
        </v-container>
      </div>
    </div>

    <v-container v-if="$store.state.accountPanelView.displayedState.statut!='pending'">
      <v-flex :class="$store.state.accountPanelView.displayedState.statut=='success' ? 'green--text text-xs-center' : 'red--text text-xs-center'">{{ this.$store.state.accountPanelView.displayedState.message }}<a v-if="this.$store.state.accountPanelView.displayedState.message=='Please check your mails to confirm your account or '" v-on:click="deleteAccountUnconfirmed">delete it</a></v-flex>
    </v-container>
  </v-card>
</template>

<script>
import UserCard from './UserCard'
import Geocoder from '../classes/Geocoder'

export default {
  name: 'account-panel',
  components: {
    UserCard,
  },
  data: () => ({
    geocoder: new Geocoder(),

    validFormLogIn: false,
    validFormRegistration: false,
    validFormChangeEmail: false,
    validFormChangePassword: false,
    validFormDeleteAccount: false,

    emailAddress: '',
    username: '',
    cityString: '',
    placeId: null,
    password: '',
    confirmPassword: '',
    rememberMe: false,

    newPassword: '',

    usernameRules: [
      v => !!v || 'Username is required',
      v => (v && v.length >= 3) || 'Username must be more than 3 characters'
    ],
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid'
    ],
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Password must be more than 8 characters',
      v => /[a-z]+/.test(v) || 'Password must contain at least one letter',
      v => /[0-9]+/.test(v) || 'Password must contain at least one number'
    ],
    cities: [],
    cityRules: [
      v => !!v || 'City is required',
    ],
  }),
  computed: {
    confirmPasswordRules: function() {
      return [
        v => v == this.password || 'Passwords doesn\'t match',
      ];
    },
    confirmNewPasswordRules: function() {
      return [
        v => v == this.newPassword || 'Passwords doesn\'t match',
      ];
    },

    displayedViewComputed: function() {
      if(['loggedIn','settings'].includes(this.$store.state.accountPanelView.displayedView)) {
        return 'loggedIn';
      }
      else {
        return this.$store.state.accountPanelView.displayedView;
      }
    }
  },
  methods: {
    loadCities: function() {
      this.geocoder.osmQuery(this.cityString)
      .then( (results) => { this.cities = results.map( (element) => { return { name: element['display_name'], id: element['place_id'] }; }); } );
    },

    register: async function () {
      if(this.$store.state.accountPanelView.displayedView!='registration') {
        this.$store.dispatch('accountPanelView/displayView','registration');
        this.$refs.formRegistration.resetValidation();
      }
      else {
        await this.$refs.formRegistration.validate();
        if(this.validFormRegistration) {
          this.$store.dispatch('me/register', { emailAddress: this.emailAddress, username: this.username, placeId: this.placeId, password: this.password })
          .then( () => { this.password = ''; this.confirmPassword = ''; this.$refs.formLogIn.resetValidation(); });
        }
      }
    },

    login: async function () {
      await this.$refs.formLogIn.validate();
      if(this.validFormLogIn) {
        this.$store.dispatch('me/logIn', { emailAddress: this.emailAddress, password: this.password, rememberMe: this.rememberMe })
        .then( () => { this.password = ''; this.confirmPassword = ''; this.$refs.formLogIn.resetValidation(); });
      }
    },

    forgottenPassword: async function () {
      if(this.emailAddress!='') {
        this.$store.dispatch('me/forgottenPassword', { emailAddress: this.emailAddress })
        .then( () => { this.password = ''; this.confirmPassword = ''; this.$refs.formLogIn.resetValidation(); });
      }
    },

    changeEmail: async function () {
      await this.$refs.formChangeEmail.validate();
      if(this.validFormChangeEmail) {
        this.$store.dispatch('me/updateProfile', { emailAddress: this.emailAddress, password: this.password })
        .then( () => { this.password = ''; this.newPassword = ''; this.confirmPassword = ''; this.$store.state.me.user.avatars.load('128'); });
      }
    },

    changePassword: async function () {
      await this.$refs.formChangePassword.validate();
      if(this.validFormChangePassword) {
        this.$store.dispatch('me/updateProfile', { password: this.password, newPassword: this.newPassword })
        .then( () => { this.password = ''; this.newPassword = ''; this.confirmPassword = ''; this.$store.state.me.user.avatars.load('128'); });
      }
    },

    deleteAccountUnconfirmed: async function () {
      await this.$refs.formLogIn.validate();
      if(this.validFormLogIn) {
        this.$store.dispatch('me/deleteAccount', { emailAddress: this.emailAddress, password: this.password })
        .then( () => { this.$store.commit('accountPanelView/displayState', { statut : 'success', message : 'Account successfully deleted' }); });
      }
    },

    deleteAccount: async function () {
      await this.$refs.formDeleteAccount.validate();
      if(this.validFormDeleteAccount) {
        this.$store.dispatch('me/deleteAccount', { emailAddress: this.emailAddress, password: this.password });
      }
    },
  }
}
</script>

<style>
.messageToUserSuccess {
  text-align: center;
  color: primary;
}

.messageToUserError {
  text-align: center;
  color: red;
}
</style>
