<template>
  <v-list dense>
    <div v-if="$store.getters['me/loggedIn']">
      <v-tabs v-model="tab">
        <v-tab key="current" style="width: 50%;"><v-icon>inbox</v-icon></v-tab>
        <v-tab key="previous" v-on:click="$store.state.me.user.loadPreviousConversations" style="width: 50%;"><v-icon>history</v-icon></v-tab>
        <v-tab-item v-for="box in ['current','previous']" :key="box">
          <div v-for="conversation in box=='current' ? orderedConversations : orderedPreviousConversations" :key="conversation.id">
            <v-list-tile v-on:click="() => { showConversation(conversation.id); }">
              <v-list-tile-action>
                <v-badge overlap>
                  <template v-slot:badge v-if="conversation.unclicked" ><v-icon dark size="12px">notifications</v-icon></template>
                  <v-icon v-if="conversation.status=='archived'">lock</v-icon>
                  <v-icon v-else-if="conversation.participantsId.includes($store.state.me.user.id) && ($vuetify.breakpoint.smAndDown || !$store.state.wrappings.wrappings.map( (wrapping) => { return wrapping.id; }).includes(conversation.id)) && !conversation.unread">drafts</v-icon>
                  <v-icon v-else-if="conversation.participantsId.includes($store.state.me.user.id) && ($vuetify.breakpoint.smAndDown || !$store.state.wrappings.wrappings.map( (wrapping) => { return wrapping.id; }).includes(conversation.id)) && conversation.unread">email</v-icon>
                  <v-icon v-else-if="conversation.participantsId.includes($store.state.me.user.id) && $store.state.wrappings.wrappings.map( (wrapping) => { return wrapping.id; }).includes(conversation.id) && !conversation.unread">chat</v-icon>
                  <v-icon v-else-if="conversation.participantsId.includes($store.state.me.user.id) && $store.state.wrappings.wrappings.map( (wrapping) => { return wrapping.id; }).includes(conversation.id) && conversation.unread">chat_bubble</v-icon>
                  <v-icon v-else-if="conversation.guestsId.includes($store.state.me.user.id)">mail_outline</v-icon>
                  <v-icon v-else>meeting_room</v-icon>
                </v-badge>
                
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  <span v-for="user in conversation.participants" :key="user.id">{{ user.username }}  </span>
                  <span v-for="user in conversation.guests" :key="user.id" class="font-weight-light font-italic">{{ user.username }} </span>
                  <div v-if="conversation.status=='archived'"><span v-for="user in conversation.formerMembers" :key="user.id" class="font-weight-light font-italic">{{ user.username }}</span></div>
                </v-list-tile-title>
                <v-list-tile-sub-title>{{ conversation.lastMessage!=undefined && conversation.lastMessage.user!=undefined && conversation.lastMessage.data.content!=undefined ? conversation.lastMessage.user.username+ ' : '+conversation.lastMessage.data.content : '' }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </div>
        </v-tab-item>
      </v-tabs>
    </div>
  </v-list>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'conversations-menu',
  data: () => ({
    tab: 'current'
  }),
  computed: {
    orderedConversations: function () {
      return _.orderBy(this.$store.state.me.user.conversations.concat(this.$store.state.me.user.invitations), 'lastMessage.createdAt','desc');
    },
    orderedPreviousConversations: function () {
      return _.orderBy(this.$store.state.me.user.previousConversations.filter( (conversation) => { return !conversation.guestsId.includes(this.$store.state.me.user.id); }), 'lastMessage.createdAt','desc');
    }
  },
  methods: {
    showConversation: function (id) {
      this.$store.dispatch('mainContentView/displayView', 'dashboard', { root: true })
      .then( () => {
        var promise = this.$store.dispatch('wrappings/storeWrappings', [{ id: id, x: this.$vuetify.breakpoint.smAndDown ? null : 3*this.windowWidth/8, y: this.$vuetify.breakpoint.smAndDown ? null : this.windowHeight/4, z: 1, w: this.$vuetify.breakpoint.smAndDown ? this.windowWidth : this.windowWidth/4, h: this.$vuetify.breakpoint.smAndDown ? this.windowHeight : this.windowHeight/2 }]);
        if(this.$store.state.wrappings.fullScreenConversation!=null) {
          promise = promise.then( () => { return this.$store.dispatch('wrappings/extend', id); } ); 
        }
        promise.then( () => { return this.$store.dispatch('wrappings/toTopOfPile', id); })
        .then( () => { return this.$store.dispatch('wrappings/saveDashboard'); });
        if(this.$vuetify.breakpoint.smAndDown) {
          this.$emit('close-menu');
        }
        return promise;
      });
    }
  }
}
</script>

<style>

</style>
