<template>
  <div :style="{ 'height': $vuetify.breakpoint.smAndDown ? 'calc(100% - 36px)' : 'calc(100% - 130px)', 'margin-top': $vuetify.breakpoint.smAndDown ? '-30px' : '0px' }" >
    <div v-if="wrappedConversation.fullScreen || $vuetify.breakpoint.smAndDown" :style="{ 'height': $vuetify.breakpoint.smAndDown ? 'calc(100% - 70px)' : '100%', 'z-index': wrappedConversation.z }">
      <v-container fluid fill-height :style="{ 'max-height': windowHeight-200+'px', 'box-sizing': 'border-box', 'border': $store.state.searchField.draggedItem!=null ? '2px dashed' : 'none' }" :id="'Conversation'+wrappedConversation.conversation.id">
        <conversation-window :style="{ 'height': '100%' }" :conversation="wrappedConversation.conversation" ></conversation-window>
      </v-container>
    </div>
    <div v-else>
      <vue-draggable-resizable :active="true" :prevent-deactivation="true" :hidden="$store.state.wrappings.fullScreenConversation!=null"
        :x="wrappedConversation.x" 
        :y="wrappedConversation.y" 
        :z="wrappedConversation.z"
        :w="wrappedConversation.w"
        :h="wrappedConversation.h"
        :onDragStart="onDragStart"
        v-on:resizing="onResize"
        v-on:dragging="onDrag"
        v-on:resizestop="$store.dispatch('wrappings/saveDashboard')"
        v-on:dragstop="$store.dispatch('wrappings/saveDashboard')"
        :min-width="320"
        :style="{ 'border': wrappedConversation.conversation.unclicked ? 'dashed 1px black' : 'none' }"
        classNameHandle="my-handle-class">
        <v-card :style="{ 'height': '100%', 'width': '100%', 'box-sizing': 'border-box', 'border': $store.state.searchField.draggedItem!=null ? '2px dashed' : 'none' }" >
          <v-container fill-height :style="{ 'height': 'calc(100% - 140px)', 'overflow': 'none' }" :id="'Conversation'+wrappedConversation.id" >
            <conversation-window :conversation="wrappedConversation.conversation"></conversation-window>
          </v-container>
        </v-card>
      </vue-draggable-resizable>
    </div>
  </div>
</template>

<script>
import ConversationWindow from './ConversationWindow'

import VueDraggableResizable from 'vue-draggable-resizable';

  export default {
    name: 'conversation-wrapping',
    props: {
      wrappedConversation: Object,
    },
    components: {
      ConversationWindow,
      VueDraggableResizable
    },
    data: () => ({

    }),
    methods: {
      onResize: function (x, y, w, h) {
        this.$store.dispatch('wrappings/editWrappings', [{
          id: this.wrappedConversation.conversation.id,
          x: x,
          y: y,
          w: w,
          h: h
        }]);
      },
      onDrag: function (x, y) {
        this.$store.dispatch('wrappings/editWrappings', [{
          id: this.wrappedConversation.conversation.id,
          x: x,
          y: y,
        }]);
      },

      onDragStart: function () {
        this.$store.dispatch('wrappings/toTopOfPile', this.wrappedConversation.id);
      },
    },
  }
</script>

<style>
.my-handle-class {
    position: absolute;
    /* border: 1px solid black; */
    height: 50px;
    width: 50px;
    box-model: border-box;
}

.my-handle-class-tl {
  top: -25px;
  left: -25px;
  cursor: nw-resize;
}

.my-handle-class-tm {
  top: -25px;
  left: 50%;
  margin-left: -7px;
  cursor: n-resize;
}

.my-handle-class-tr {
  top: -25px;
  right: -25px;
  cursor: ne-resize;
}

.my-handle-class-ml {
  top: 50%;
  margin-top: -7px;
  left: -25px;
  cursor: w-resize;
}

.my-handle-class-mr {
  top: 50%;
  margin-top: -7px;
  right: -25px;
  cursor: e-resize;
}

.my-handle-class-bl {
  bottom: -25px;
  left: -25px;
  cursor: sw-resize;
}

.my-handle-class-bm {
  bottom: -25px;
  left: 50%;
  margin-left: -7px;
  cursor: s-resize;
}

.my-handle-class-br {
  bottom: -25px;
  right: -25px;
  cursor: se-resize;
}
</style>
