<template>

    <v-layout column fill-height v-on:mouseenter="() => { $store.dispatch('conversations/updateConversation', { id: this.conversation.id, lastCheckedAt: Date.now() }); }" v-on:click="() => { $store.dispatch('conversations/updateConversation', { id: this.conversation.id, lastCheckedAt: Date.now(), lastClickedAt: Date.now() }); }">
      <v-layout row>
        <v-flex>
          <v-card-actions>
            <v-layout align-center>
              <v-btn icon v-if="!this.$vuetify.breakpoint.smAndDown" v-on:click="closeConversation"><v-icon>close</v-icon></v-btn>
            </v-layout>
            <v-layout justify-center>
              <div v-for="user in displayedParticipants" :key="user.id">
                <v-tooltip bottom close-delay="1000">
                  <template v-slot:activator="{ on }">
                    <v-list-tile class="grow">
                      <v-list-tile-avatar><img :src="user.avatars['40']" class="elevation-6"></v-list-tile-avatar>
                      <span v-on="on" :style="{ 'font-weight': conversation.participantsId.includes(user.id) ? 'bold' : 'normal' }">{{ user.username }}</span>
                    </v-list-tile>
                  </template>
                  <user-card :user="user"/>
                </v-tooltip>
              </div>
            </v-layout>
            <v-menu v-if="additionnalParticipants.length!=0" bottom left offset-y>
              <template v-slot:activator="{ on }">
                <v-btn flat fab small v-on="on">+{{ additionnalParticipants.length }}</v-btn>
              </template>
              <v-list>
                <v-list-tile v-for="user in additionnalParticipants" :key="user.id">
                  <v-tooltip bottom close-delay="1000">
                    <template v-slot:activator="{ on }">
                      <v-list-tile class="grow">
                        <v-list-tile-avatar><img :src="user.avatars['40']" class="elevation-6"></v-list-tile-avatar>
                        <span v-on="on" :style="{ 'font-weight': conversation.participantsId.includes(user.id) ? 'bold' : 'normal' }">{{ user.username }}</span>
                      </v-list-tile>
                    </template>
                    <user-card :user="user"/>
                  </v-tooltip>
                </v-list-tile>
              </v-list>
            </v-menu>
            <v-layout align-center justify-end>
              <v-btn icon v-on:click="leaveConversation">
                <v-tooltip bottom v-if="conversation.participantsId.includes(this.$store.state.me.user.id)">
                  <template v-slot:activator="{ on }">
                    <v-icon v-on="on">meeting_room</v-icon>
                  </template>
                  Leave the conversation. You will still see past entries.
                </v-tooltip>
                <v-tooltip bottom v-else-if="conversation.formerMembersId.includes(this.$store.state.me.user.id)">
                  <template v-slot:activator="{ on }">
                    <v-icon v-on="on">whatshot</v-icon>
                  </template>
                  Completly forget this conversation and delete all my messages.
                </v-tooltip>
              </v-btn>
              <v-btn icon v-if="!this.$vuetify.breakpoint.smAndDown && $store.state.wrappings.fullScreenConversation!=null" v-on:click="windowConversation"><v-icon>fullscreen_exit</v-icon></v-btn>
              <v-btn icon v-else-if="!this.$vuetify.breakpoint.smAndDown && !$store.state.wrappings.fullScreenConversation!=null" v-on:click="extendConversation"><v-icon>fullscreen</v-icon></v-btn>
            </v-layout>
          </v-card-actions>
        </v-flex>
      </v-layout>

      <v-layout row fill-height>
        <v-flex class="scroll-y" v-on:scroll="onScroll" ref="scrollSubwindow">
          <v-container fluid>
            <v-timeline
              v-for="entry in orderedEntries"
              :key="entry.id"
              dense
            >
              <entry :entry="entry"/>
            </v-timeline>
          </v-container>
        </v-flex>
      </v-layout>

      <v-layout row>
        <v-flex>
          <v-form v-on:keypress.enter.native="sendMessage">
            <v-textarea
              v-if="conversation.participantsId.includes(this.$store.state.me.user.id)"
              v-model="message"
              v-on:click:append-outer="sendMessage"
              solo
              label="Message"
              append-outer-icon="send"
              auto-grow
              :autofocus="!$vuetify.breakpoint.smAndDown"
              rows=2
              style="margin-left: 20px; margin-right: 20px;"
            ></v-textarea>
          </v-form>
          <v-container fluid style="width: 50%;" v-if="conversation.guestsId.includes($store.state.me.user.id) || (!conversation.participantsId.includes($store.state.me.user.id) && conversation.status=='public' && !conversation.archived)">
            <v-layout row justify-space-around  v-if="conversation.guestsId.includes($store.state.me.user.id)">
              <v-btn v-on:click="joinConversation" flat outline color="success">Join</v-btn>
              <v-btn v-on:click="leaveConversation" flat outline color="red">Leave</v-btn>
            </v-layout>
            <v-layout row justify-space-around  v-else-if="!conversation.participantsId.includes($store.state.me.user.id) && conversation.status=='public' && !conversation.archived">
              <v-btn v-on:click="joinConversation" flat outline color="success">Join</v-btn>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>

    </v-layout>

</template>

<script>
import UserCard from './UserCard'
import Entry from './Entry'

import _ from 'lodash'

export default {
  name: 'conversation-window',
  props: {
    conversation: Object, 
  },
  components: {
    UserCard,
    Entry,
  },
  data: () => ({
    message: '',
    loadingEntries: false,

    scrollBottom: 0
  }),
  computed: {
    width: function () { // Ugly
      if(this.$store.state.wrappings.fullScreenConversation!=null) {
        return this.windowWidth;
      }
      else {
        return this.$store.getters['wrappings/wrappedConversations']().find( (wrapping) => { return wrapping.id==this.conversation.id }).w;
      }
    },
    displayedParticipants: function () {
      return this.conversation.participants.concat(this.conversation.guests).slice(0,(this.$vuetify.breakpoint.xsOnly ? this.width/400 : this.width/350).toPrecision(1));
    },
    additionnalParticipants: function () {
      return this.conversation.participants.concat(this.conversation.guests).slice((this.$vuetify.breakpoint.xsOnly ? this.width/400 : this.width/350).toPrecision(1));
    },

    orderedEntries: function () {
      var entries = this.conversation.status=='archived' ? this.conversation.entries.concat([{
        id: 9999+this.conversation.id,
        type: 'archive'
      }]) : this.conversation.entries;
      return _.orderBy(entries, 'id');
    }
  },
  methods: {
    onScroll: function (e) {
      if(e.target.scrollTop<100 && !this.loadingEntries && !this.conversation.entries.map( (entry) => { return entry.type; } ).includes('create')) {
        this.loadingEntries=true;
        this.conversation.loadRelatedEntries(Math.min(...this.conversation.entriesId)-1)
        .then( () => { this.loadingEntries=false; });
      }
      if(e.target.scrollHeight-e.target.clientHeight-e.target.scrollTop<1) {
        this.$store.dispatch('conversations/updateConversation', { id: this.conversation.id, lastReadAt: Date.now() }); // Provoks a warning in firefox dev console...
      }
    },

    joinConversation: function () {
      this.$store.dispatch('conversations/joinConversation',{ id: this.conversation.id });
    },

    closeConversation: function () {
      this.$store.dispatch('wrappings/close',this.conversation.id)
      .then( () => { return this.$store.dispatch('wrappings/saveDashboard'); });
    },

    windowConversation: function () {
      this.$store.dispatch('wrappings/window','')
      .then( () => { return this.$store.dispatch('wrappings/saveDashboard'); });
    },

    extendConversation: function () {
      this.$store.dispatch('wrappings/extend',this.conversation.id)
      .then( () => { return this.$store.dispatch('wrappings/saveDashboard'); });
    },

    leaveConversation: function () {
      this.$store.dispatch('conversations/leaveConversation',{ id: this.conversation.id });
    },

    sendMessage: function (event) {
      if(!event.shiftKey) {
        this.$store.dispatch('entries/createEntry',{ type: 'message', conversation: this.conversation.id, content: this.message })
        .then( () => { this.message = ''; this.$refs.scrollSubwindow.scrollTo({ top: this.$refs.scrollSubwindow.scrollHeight, behavior: 'smooth' }); });
      }
    }
  },
  mounted() {
    this.conversation.participants.concat(this.conversation.guests).forEach( (element) => { element.avatars.load('40'); });
    this.conversation.loadRelatedEntries(this.conversation.entriesId.length!=0 ? Math.min(...this.conversation.entriesId)-1 : null)
    .then( () => { 
      this.$refs.scrollSubwindow.scrollTo({ top: this.$refs.scrollSubwindow.scrollHeight });
      this.$store.dispatch('conversations/updateConversation', { id: this.conversation.id, lastReadAt: Date.now() });
    });
  },
  beforeUpdate() {
    this.scrollBottom = this.$refs.scrollSubwindow.scrollHeight-this.$refs.scrollSubwindow.clientHeight-this.$refs.scrollSubwindow.scrollTop
  },
  updated() {
    this.conversation.participants.concat(this.conversation.guests).forEach( (element) => { element.avatars.load('40'); });
    if(this.scrollBottom<=2 && this.$refs.scrollSubwindow.scrollHeight-this.$refs.scrollSubwindow.clientHeight-this.$refs.scrollSubwindow.scrollTop!=0) {
      this.$refs.scrollSubwindow.scrollTo({ top: this.$refs.scrollSubwindow.scrollHeight, behavior: 'smooth' });
      this.$store.dispatch('conversations/updateConversation', { id: this.conversation.id, lastReadAt: Date.now() });
    }
  },
}
</script>

<style>

</style>
