<template>
  <div>
    <div v-if="entry.deleted && entry.user==undefined">
      <v-timeline-item color="white" large>
        <v-layout justify-space-between align-center>
          <span style="font-style: italic;">Message deleted</span>
           <v-flex xs5 text-xs-right><span style="font-size: 8pt;">{{ new Date(entry.createdAt).toLocaleDateString('en-GB', { day : 'numeric',	month : 'short',	year : 'numeric'}) }}<br/>{{ new Date(entry.createdAt).toLocaleTimeString('en-GB', {hour: "numeric", minute: "numeric"}) }}</span></v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
    <div v-else-if="entry.type=='message'">
      <v-timeline-item color="white" large>
        <template v-slot:icon>
          <v-tooltip bottom close-delay="500">
            <template v-slot:activator="{ on }">
              <v-avatar><img v-if="entry.user!=undefined" :src="entry.user.avatars['64']" v-on="on"></v-avatar>
            </template>
            <user-card v-if="entry.user!=undefined" :user="entry.user"/>
          </v-tooltip>
        </template>
        <v-layout justify-space-between align-center>
          <div v-if="entry.deleted">
            <span style="font-style: italic;">Message deleted</span>
          </div>
          <div v-else-if="entry.userId==$store.state.me.user.id && !edition">
            <v-tooltip right close-delay="1000">
              <template v-slot:activator="{ on }">
                <v-card class="elevation-2" style="{ width: 100%; }" v-on="on">
                  <v-card-text style="white-space: pre-line;">{{ entry.data.content }}</v-card-text>
                </v-card>
              </template>
              <v-card-actions>
                <v-layout align-center>
                  <v-btn icon v-on:click="editView"><v-icon>edit</v-icon></v-btn>
                  <v-btn icon v-on:click="deleteEntry"><v-icon>delete_forever</v-icon></v-btn>
                </v-layout>
              </v-card-actions>
            </v-tooltip>
          </div>
          <div v-else-if="entry.userId==$store.state.me.user.id && edition" style="{ flex: 1 1 100%; width: 100%; }">
              <v-card class="elevation-2" style="{ width: 100%; }">
                <v-card-text style="{ width: 100%; }">
                  <v-form v-on:submit.prevent="" v-on:keypress.enter.native="updateEntry" style="{ width: 100%; }">
                    <v-textarea v-model="message" name="message" label="Message" type="text" hide-details style="white-space: pre-line; width: 100%; margin-top: -18px; font-size: 10.5pt;" auto-grow rows=1 single-line autofocus></v-textarea>
                  </v-form>
                </v-card-text>
              </v-card>
          </div>
          <div v-else>
            <v-card class="elevation-2" style="{ width: 100%; }">
              <v-card-text style="white-space: pre-line;">{{ entry.data.content }}</v-card-text>
            </v-card>
          </div>
          <v-layout v-if="edition" align-left>
            <v-btn icon v-on:click="updateEntry"><v-icon>check</v-icon></v-btn>
            <v-btn icon v-on:click="abort"><v-icon>close</v-icon></v-btn>
          </v-layout>
          <v-flex xs5 text-xs-right style="min-width: 70px;"><span style="font-size: 8pt;">{{ new Date(entry.createdAt).toLocaleDateString('en-GB', { day : 'numeric',	month : 'short',	year : 'numeric'}) }}<br/>{{ new Date(entry.createdAt).toLocaleTimeString('en-GB', {hour: "numeric", minute: "numeric"}) }}<span v-if="!entry.deleted && entry.createdAt!=entry.updatedAt" style="font-style: italic;"> - Edited</span></span></v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
    <div v-else-if="entry.type=='create'">
      <v-timeline-item color="orange" small>
        <v-layout justify-space-between align-center>
          <v-flex xs7>{{ entry.user==undefined ? '' : entry.user.username }} created the conversation.</v-flex>
          <v-flex xs5 text-xs-right><span style="font-size: 8pt;">{{ new Date(entry.createdAt).toLocaleDateString('en-GB', { day : 'numeric',	month : 'short',	year : 'numeric'}) }}<br/>{{ new Date(entry.createdAt).toLocaleTimeString('en-GB', {hour: "numeric", minute: "numeric"}) }}</span></v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
    <div v-else-if="entry.type=='invited'">
      <v-timeline-item color="cyan" small>
        <v-layout justify-space-between align-center>
          <v-flex xs7>{{ entry.data.inviter==$store.state.me.user.id ? $store.state.me.user.username : $store.getters['users/user'](entry.data.inviter)==undefined ? '' : $store.getters['users/user'](entry.data.inviter).username }} invited {{ entry.user==undefined ? '' : entry.user.username }}.</v-flex>
          <v-flex xs5 text-xs-right><span style="font-size: 8pt;">{{ new Date(entry.createdAt).toLocaleDateString('en-GB', { day : 'numeric',	month : 'short',	year : 'numeric'}) }}<br/>{{ new Date(entry.createdAt).toLocaleTimeString('en-GB', {hour: "numeric", minute: "numeric"}) }}</span></v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
    <div v-else-if="entry.type=='join'">
      <v-timeline-item color="blue" small>
        <v-layout justify-space-between align-center>
          <v-flex xs7>{{ entry.user==undefined ? '' : entry.user.username }} joined the conversation.</v-flex>
          <v-flex xs5 text-xs-right><span style="font-size: 8pt;">{{ new Date(entry.createdAt).toLocaleDateString('en-GB', { day : 'numeric',	month : 'short',	year : 'numeric'}) }}<br/>{{ new Date(entry.createdAt).toLocaleTimeString('en-GB', {hour: "numeric", minute: "numeric"}) }}</span></v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
    <div v-else-if="entry.type=='leave'">
      <v-timeline-item color="red" small>
        <v-layout justify-space-between align-center>
          <v-flex xs7>{{ entry.user==undefined ? '' : entry.user.username }} leaved the conversation.</v-flex>
          <v-flex xs5 text-xs-right><span style="font-size: 8pt;">{{ new Date(entry.createdAt).toLocaleDateString('en-GB', { day : 'numeric',	month : 'short',	year : 'numeric'}) }}<br/>{{ new Date(entry.createdAt).toLocaleTimeString('en-GB', {hour: "numeric", minute: "numeric"}) }}</span></v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
    <div v-else-if="entry.type=='archive'">
      <v-timeline-item color="black" small>
        <v-layout justify-space-between align-center>
          <v-flex xs7>Conversation archived.</v-flex>
        </v-layout>
      </v-timeline-item>
    </div>
  </div>
</template>

<script>
import UserCard from './UserCard'

export default {
  name: 'entry',
  props: {
    entry: Object, 
  },
  components: {
    UserCard,
  },
  data: () => ({
    edition: false,
    message: ''
  }),
  methods: {
    editView: function () {
      this.message = this.entry.data.content;
      this.edition = true;
    },

    abort: function () {
      this.message = '';
      this.edition = false;
    },

    updateEntry: function (event) {
      if(!event.shiftKey) {
        this.$store.dispatch('entries/updateEntry', { id: this.entry.id, content: this.message })
        .then( () => {
          this.message = '';
          this.edition = false;
        })
      }
    },

    deleteEntry: function () {
      this.$store.dispatch('entries/deleteEntry', { id: this.entry.id });
    },
  },
  mounted() {
    if(this.entry.userId!=null) {
      this.entry.loadRelatedUser()
      .then( () => { if(this.entry.user!=undefined) { this.entry.user.avatars.load('64'); } });
    }
  },
}
</script>

<style>

</style>
