<template>
  <div style="height: 100%;" >
    <div v-if="$store.state.mainContentView.displayedView=='welcome'">
      <welcome/>
    </div>

    <div v-else-if="$store.state.mainContentView.displayedView=='meetingPlace'">
      <meeting-place/>
    </div>

    <div v-else-if="$store.state.mainContentView.displayedView=='dashboard' && $vuetify.breakpoint.smAndDown" :style="{ 'height': $navigator.userAgent.match('(?=.*Android)(?=.*Chrome/[.0-9]*)')? 'calc(100vh - 200px)' : '100%' }">
      <conversation-wrapping v-if="$store.state.wrappings.wrappings.length!=0 && $store.getters['wrappings/wrappedConversations']()[$store.state.wrappings.wrappings.map( (element) => { return element.z; } ).indexOf(Math.max(...$store.state.wrappings.wrappings.map( (element) => { return element.z; } )))].conversation!=null" :wrappedConversation="$store.getters['wrappings/wrappedConversations']()[$store.state.wrappings.wrappings.map( (element) => { return element.z; } ).indexOf(Math.max(...$store.state.wrappings.wrappings.map( (element) => { return element.z; } )))]"></conversation-wrapping>
    </div>

    <div v-else-if="$store.state.mainContentView.displayedView=='dashboard' && !$vuetify.breakpoint.smAndDown" style="height: 100%;">
      <div v-for="wrappedConversation in $store.getters['wrappings/wrappedConversations']()" :key="wrappedConversation.id" :style="{ 'height': $store.state.wrappings.fullScreenConversation==wrappedConversation.id ? '100%' : '0%' }">
        <conversation-wrapping v-if="wrappedConversation.conversation!=null" :wrappedConversation="wrappedConversation"></conversation-wrapping>
      </div>
    </div>
  </div>
</template>

<script>
import Welcome from './Welcome'
import ConversationWrapping from './ConversationWrapping'
import MeetingPlace from './MeetingPlace'

  export default {
    name: 'main-content',
    components: {
      Welcome,
      ConversationWrapping,
      MeetingPlace,
    },
    data: () => ({

    })
  }
</script>

<style>

</style>
