<template>
  <v-list style="width: 100%;">
    <div v-for="recommendedConversation in orderedConversations" :key="recommendedConversation.id" style="width: 100%;">
      <recommended-conversation v-if="recommendedConversation.conversation!=null" :recommendedConversation="recommendedConversation"></recommended-conversation>
       <v-divider inset :key="recommendedConversation.id"></v-divider>
    </div>
  </v-list>
</template>

<script>
import _ from 'lodash'

import RecommendedConversation from './RecommendedConversation'

export default {
  name: 'meeting-place',
  components: {
    RecommendedConversation
  },
  data: () => ({

  }),
  computed: {
    orderedConversations: function () {
      return _.orderBy(this.$store.getters['recommendedConversations/recommendedConversations'](), 'criteria', 'desc');
    },
  },
  methods: {

  },
  mounted() {
    this.$store.dispatch('recommendedConversations/loadRecommendedConversations'); 
  },
}
</script>

<style>

</style>
