<template>
  <v-list-tile height="60">
    <v-layout align-center height="60" :style="{ 'margin-left': this.$vuetify.breakpoint.smAndDown ? '-20px' : '50px' }">
      <div v-for="user in displayedParticipants" :key="user.id">
        <v-tooltip bottom close-delay="1000">
          <template v-slot:activator="{ on }">
            <v-list-tile class="grow">
              <v-list-tile-avatar><img :src="user.avatars['40']" class="elevation-6"></v-list-tile-avatar>
              <span v-on="on" :style="{ 'font-weight': recommendedConversation.conversation.participantsId.includes(user.id) ? 'bold' : 'normal' }">{{ user.username }}</span>
            </v-list-tile>
          </template>
          <user-card :user="user"/>
        </v-tooltip>
      </div>
      <v-menu v-if="additionnalParticipants.length!=0" bottom left offset-y>
        <template v-slot:activator="{ on }">
          <v-btn flat fab small v-on="on">+{{ additionnalParticipants.length }}</v-btn>
        </template>
        <v-list>
          <v-list-tile v-for="user in additionnalParticipants" :key="user.id">
            <v-tooltip bottom close-delay="1000">
              <template v-slot:activator="{ on }">
                <v-list-tile class="grow">
                  <v-list-tile-avatar><img :src="user.avatars['40']" class="elevation-6"></v-list-tile-avatar>
                  <span v-on="on" :style="{ 'font-weight': recommendedConversation.conversation.participantsId.includes(user.id) ? 'bold' : 'normal' }">{{ user.username }}</span>
                </v-list-tile>
              </template>
              <user-card :user="user"/>
            </v-tooltip>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-layout>
    <v-layout row justify-end>
      <v-flex xs5 text-xs-right style="line-height: 1.37;"><span style="font-size: 8pt;">Avg : {{ averageDistance }} km<br/>Dev : {{ deviation }}</span></v-flex>
      <v-btn v-on:click="joinConversation" flat color="success" style="width: 10px">Join</v-btn>
    </v-layout>
  </v-list-tile>
</template>

<script>
import UserCard from './UserCard'

export default {
  name: 'recommended-conversation',
  props: {
    recommendedConversation: Object,
  },
  components: {
    UserCard,
  },
  data: () => ({

  }),
  computed: {
    displayedParticipants: function () {
      return this.recommendedConversation.conversation.participants.concat(this.recommendedConversation.conversation.guests).slice(0,(this.$vuetify.breakpoint.xsOnly ? this.windowWidth/380 : this.windowWidth/270).toPrecision(1));
    },
    additionnalParticipants: function () {
      return this.recommendedConversation.conversation.participants.concat(this.recommendedConversation.conversation.guests).slice((this.$vuetify.breakpoint.xsOnly ? this.windowWidth/380 : this.windowWidth/270).toPrecision(1));
    },

    averageDistance: function () {
      var distances = this.recommendedConversation.conversation.participants.map( (element) => { return element.distance; });
      return Math.trunc(distances.reduce((a, b) => a + b)/distances.length);
    },
    deviation: function () {
      return this.recommendedConversation.geographicDeviation;
    },
  },
  methods: {
    joinConversation: function () {
      this.$store.dispatch('conversations/joinConversation',{ id: this.recommendedConversation.conversation.id })
      .then( () => { return this.$store.dispatch('recommendedConversations/removeRecommendation', this.recommendedConversation.id, { root: true }); })
      .then( () => { return this.$store.dispatch('mainContentView/displayView', 'dashboard', { root: true }); })
      .then( () => {
        var promise = this.$store.dispatch('wrappings/storeWrappings', [{ id: this.recommendedConversation.id, x: this.$vuetify.breakpoint.smAndDown ? null : 3*this.windowWidth/8, y: this.$vuetify.breakpoint.smAndDown ? null : this.windowHeight/4, z: 1, w: this.$vuetify.breakpoint.smAndDown ? this.windowWidth : this.windowWidth/4, h: this.$vuetify.breakpoint.smAndDown ? this.windowHeight : this.windowHeight/2 }]);
        if(this.$store.state.wrappings.fullScreenConversation!=null) {
          promise = promise.then( () => { return this.$store.dispatch('wrappings/extend', this.recommendedConversation.id); } ); 
        }
        promise.then( () => { return this.$store.dispatch('wrappings/toTopOfPile', this.recommendedConversation.id); });
        return promise;
      });
    },
  },
  mounted() {
    this.recommendedConversation.conversation.participants.concat(this.recommendedConversation.conversation.guests).forEach( (element) => { element.avatars.load('40'); });
  },
}
</script>

<style>

</style>
