<template>
<div style="width:50%;">
  <vue-draggable-resizable v-if="$store.state.searchField.draggedItem!=null" :hidden="instanciatedDraggedItem==null" id="draggedItem" :resizable="false" :x="x" :y="y" :w="w" :h="h">
    <v-tooltip bottom close-delay="1000">
      <template v-slot:activator="{ on }">
        <v-chip close :style="{ 'opacity': 0.75 }">
          <v-avatar><img :src="$store.state.searchField.draggedItem.avatars['32']"></v-avatar>
          <span>{{ $store.state.searchField.draggedItem.username }}</span>
        </v-chip>
      </template>
      <user-card :user="$store.state.searchField.draggedItem"/>
    </v-tooltip>
  </vue-draggable-resizable>
  <v-autocomplete
    v-model="$store.state.searchField.usersSelected"
    :items="$store.getters['users/users']($store.getters['searchField/usersProposed'])"
    :search-input.sync="$store.state.searchField.searchString"
    v-on:keyup="(e) => { if (e.which<37 || e.which>40) { $store.dispatch('searchField/search') } }"
    v-on:change="$store.dispatch('searchField/select')"
    prepend-icon="search"
    label="Search..."
    chips
    multiple
    hide-selected
    auto-select-first
    dont-fill-mask-blanks
    clearable
    item-text="username"
    item-value="id"
    :dense="$vuetify.breakpoint.smAndDown"
    :style="{ 'margin-top': $vuetify.breakpoint.smAndDown ? '10px' : '12px' }"
  >
    <template v-slot:selection="data">
      <v-tooltip bottom close-delay="!instanciatedDraggedItem==data.item.id ? 1000 : 0">
        <template v-slot:activator="{ on }">
          <v-chip
            :selected="data.selected"
            close
            class="chip--select-multi"
            v-on:input="$store.commit('searchField/deselect',data.item.id)"
            :id="'userChip'+data.item.id"
            v-on:touchstart="(event) => { onTouchStart(event,data.item); }"
            v-on:mousedown="(event) => { onMouseDown(event,data.item); }"
          >
            <v-avatar><img :src="data.item.avatars['32']"></v-avatar>
            <span v-on="on">{{ data.item.username }}</span>
          </v-chip>
        </template>
        <user-card :user="data.item"/>
      </v-tooltip>
    </template>

    <template v-slot:no-data>
      <v-list-tile v-if="$store.state.searchField.displayedState.statut=='error'">
        <v-list-tile-content>
          <v-list-tile-title>{{ $store.state.searchField.displayedState.message }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile v-else>
        <v-layout row>
          <v-spacer></v-spacer>
          <v-flex><v-list-tile-content><v-list-tile-title><span v-if="!$vuetify.breakpoint.smAndDown && $store.state.searchField.usersSelected.length!=0">Start a conversation with this people !</span><span v-else-if="!$vuetify.breakpoint.smAndDown">No participant... Nevermind, you can still create a conversation and let them join !</span><span v-else>Create a conversation !</span></v-list-tile-title></v-list-tile-content></v-flex>
          <v-spacer></v-spacer>
          <v-flex>
            <v-card hover raised width="110px">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" v-on:click="startConversation(true)"><v-icon color="success">how_to_reg</v-icon></v-btn>
                </template>
                Public conversation. Everyone is welcome.
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" v-on:click="startConversation(false)"><v-icon color="error">person_add_disabled</v-icon></v-btn>
                </template>
                Private conversation. People are added by participants.
              </v-tooltip>
            </v-card>
          </v-flex>
        </v-layout>
      </v-list-tile>
  </template>

    <template v-slot:item="data">
      <v-list-tile-avatar><img :src="data.item.avatars['40']"></v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>{{ data.item.username }}</v-list-tile-title>
        <v-list-tile-sub-title>{{ data.item.city }}</v-list-tile-sub-title>
      </v-list-tile-content>
    </template>

  </v-autocomplete>
</div>
</template>

<script>
import UserCard from './UserCard' 
import Vue from 'vue'

export default {
  name: 'search-bar',
  components: {
    UserCard,
  },
  data: () => ({
    instanciatedDraggedItem: null,
    x: 0,
    y: 0,
    w: 0,
    h: 0,
  }),
  methods: {
    onTouchStart: function (event,item) {
      if(event.target.innerHTML!='cancel') {
        this.$store.state.searchField.draggedItem = item;
        this.x=-document.getElementById('userChip'+item.id).offsetWidth/2;
        this.y=-document.getElementById('userChip'+item.id).offsetHeight/2;
        this.w=document.getElementById('userChip'+item.id).offsetWidth;
        this.h=document.getElementById('userChip'+item.id).offsetHeight;
        const onMoveListener = () => {
          this.instanciatedDraggedItem = item.id;
          document.removeEventListener('touchmove', onMoveListener);
        };
        const onMouseUpListener = (event) => {
          var draggedItem = this.$store.state.searchField.draggedItem;
          this.instanciatedDraggedItem = null;
          this.$store.state.searchField.draggedItem = null;
          document.dispatchEvent(new CustomEvent('userChipDrop', { detail : { x: event.changedTouches[0].clientX, y: event.changedTouches[0].clientY, user: draggedItem } }));
          document.removeEventListener('touchend', onMouseUpListener);
          document.removeEventListener('mouseup', onMouseUpListener);
        };
        document.addEventListener('touchmove', onMoveListener);
        document.addEventListener('touchend', onMouseUpListener);
        Vue.nextTick(() => {
          document.getElementById('draggedItem').style.border="none";
          document.getElementById('draggedItem').dispatchEvent(new TouchEvent('touchstart'));
          document.getElementById('draggedItem').dispatchEvent(new MouseEvent('mousedown'));

        });
      }
    },

    onMouseDown: function (event,item) {
      if(event.target.innerHTML!='cancel') {
        this.$store.state.searchField.draggedItem = item;
        this.x=-document.getElementById('userChip'+item.id).offsetWidth/2;
        this.y=-document.getElementById('userChip'+item.id).offsetHeight/2;
        this.w=document.getElementById('userChip'+item.id).offsetWidth;
        this.h=document.getElementById('userChip'+item.id).offsetHeight;
        const onMoveListener = () => {
          this.instanciatedDraggedItem = item.id;
          document.removeEventListener('mousemove', onMoveListener);
        };
        const onMouseUpListener = (event) => {
          var draggedItem = this.$store.state.searchField.draggedItem;
          this.instanciatedDraggedItem = null;
          this.$store.state.searchField.draggedItem = null;
          document.dispatchEvent(new CustomEvent('userChipDrop', { detail : { x: event.clientX, y: event.clientY, user: draggedItem } }));
          document.removeEventListener('mouseup', onMouseUpListener);
        };
        document.addEventListener('mousemove', onMoveListener);
        document.addEventListener('mouseup', onMouseUpListener);
        Vue.nextTick(() => {
          document.getElementById('draggedItem').style.border="none";
          document.getElementById('draggedItem').dispatchEvent(new MouseEvent('mousedown'));
        });
      }
    },

    startConversation: function (input) {
      this.$store.dispatch('conversations/createConversation',{ public: input, guests: this.$store.state.searchField.usersSelected })
      .then( (id) => {
        var promise = this.$store.dispatch('wrappings/storeWrappings', [{ id: id, x: 3*this.windowWidth/8, y: this.windowHeight/4, z: 1, w: this.windowWidth/4, h: this.windowHeight/2 }])
        .then( () => { return this.$store.dispatch('wrappings/toTopOfPile', id); });
        if(this.$store.state.wrappings.fullScreenConversation!=null) {
          promise = promise.then( () => { return this.$store.dispatch('wrappings/extend', id); } ); 
        }
        promise.then( () => { return this.$store.dispatch('wrappings/saveDashboard'); });
        return promise;
      });
    }
  },
}
</script>

<style>
.messageToUserSuccess {
  text-align: center;
  color: primary;
}

.messageToUserError {
  text-align: center;
  color: red;
}
</style>
