<template>
  <v-container pa-0 :style="{ 'width': windowWidth<420 ? '280px' : '350px' }">
    <v-card flat color="rgba(0, 0, 0, 0)">
      <v-layout>
        <v-flex>
          <v-img :src="user.avatars['128']" width="128px" height="128px" v-on:click="!(editable && $store.state.accountPanelView.displayedView=='settings') ? openAvatarDialog('original') : null">
            <v-img v-if="editable && $store.state.accountPanelView.displayedView=='settings'" :src="dragAvatar ? require('../assets/dragavatar.png') : require('../assets/editavatar.png')" width="128px" height="128px" v-on:dragenter="() => { this.dragAvatar=true; }" v-on:dragexit="() => { this.dragAvatar=false; }" v-on:dragover=" (event) => { event.preventDefault(); }" v-on:drop="dropAvatar" v-on:click=" () => { $refs.fileExplorerAvatar.click(); }">
              <input type="file" style="display: none;" ref="fileExplorerAvatar" v-on:change="selectAvatar"/>
            </v-img>
          </v-img>
        </v-flex>

        <v-flex style="width: 200px;">
          <v-card-title primary-title style="height:76px;">
          <div>
            <v-form v-if="editable && $store.state.accountPanelView.displayedView=='settings'" v-model="validFormUpdateProfile" ref="formUpdateProfile" v-on:keyup.enter.native="updateProfile">
              <v-text-field v-model="username" name="username" label="Username" type="text" :rules="usernameRules" validate-on-blur hide-details style="margin-top: -9px; font-size: 18pt;" height="27px" single-line></v-text-field>
              <v-autocomplete 
                v-model="placeId" 
                :items="cities" 
                :search-input.sync="cityString"
                v-on:keyup="(e) => { if (e.which<37 || e.which>40) { loadCities() } }"
                label="City" 
                name="city"
                auto-select-first
                item-text="name"
                item-value="id"
                style="margin-top: -10px; font-size: 10.5pt;" height="20px"
                single-line
              >
              </v-autocomplete>
            </v-form>
            <div v-else>
              <div class="headline" :contenteditable="editable && $store.state.accountPanelView.displayedView=='settings'">{{ user.username }}</div>
              <div>{{ user.city }}<span v-if="user.id!=$store.state.me.user.id"> ({{ user.distance }} km)</span></div>
            </div>
          </div>
          </v-card-title>	
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn icon v-if="editable && $store.state.accountPanelView.displayedView=='loggedIn'" v-on:click="switchView"><v-icon>settings</v-icon></v-btn>
            <v-btn icon v-if="editable && $store.state.accountPanelView.displayedView=='loggedIn'" v-on:click="$store.dispatch('me/logOut')"><v-icon>lock_open</v-icon></v-btn>
            <v-btn icon v-if="editable && $store.state.accountPanelView.displayedView=='settings'" v-on:click="() => { this.username = this.user.username; this.city = this.user.city; switchView(); }"><v-icon>close</v-icon></v-btn>
            <v-btn icon v-if="editable && $store.state.accountPanelView.displayedView=='settings'" :disabled="!validFormUpdateProfile" v-on:click="updateProfile"><v-icon>check</v-icon></v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
      <slot></slot>
    </v-card>
    <v-dialog v-model="largeAvatarDialogOpened">
      <v-img :src="editable && $store.state.accountPanelView.displayedView=='settings' ? user.avatars['tmp'] : user.avatars['original']" :width="Math.min(imgAvatarWidth,0.9*windowWidth,imgAvatarWidth/imgAvatarHeight*0.9*windowHeight)" :height="Math.min(imgAvatarHeight,0.9*windowHeight,imgAvatarHeight/imgAvatarWidth*0.9*windowWidth)" contain>
        <vue-draggable-resizable v-if="editable && $store.state.accountPanelView.displayedView=='settings' && largeAvatarDialogComplete" :active="true" :prevent-deactivation="true" 
          :x="drzoneDisplayedProps.x" 
          :y="drzoneDisplayedProps.y" 
          :w="drzoneDisplayedProps.w"
          :h="drzoneDisplayedProps.h"
          :min-width="Math.min(1,0.9*this.windowWidth/this.imgAvatarWidth,0.9*this.windowHeight/this.imgAvatarHeight)*128"
          :min-heigth="Math.min(1,0.9*this.windowHeight/this.imgAvatarHeight,0.9*this.windowWidth/this.windowHeight)*128" 
          :lock-aspect-ratio="true" :parent="true" v-on:dragstop="onDrag" v-on:resizestop="onResize" style="display: flex; align-items: center">
          <v-layout align-center column>
            <v-btn flat v-on:click="cropAvatar" style="margin:auto;" color="success">Validate</v-btn>
            <!-- <v-btn flat v-on:click="() => { largeAvatarDialogOpened=false; }" style="margin:auto;" color="error">Cancel</v-btn> -->
          </v-layout>
        </vue-draggable-resizable>
      </v-img>
    </v-dialog>
  </v-container>
</template>

<script>
import VueDraggableResizable from 'vue-draggable-resizable';
import Geocoder from '../classes/Geocoder'

export default {
  name: 'UserCard',
  props: {
    editable: Boolean,
    user: Object, 
  },
  components: {
      VueDraggableResizable
  },
  data: () => ({
    geocoder: new Geocoder(),

    username: '',
    cityString: '',
    placeId: null,
    validFormUpdateProfile: false,

    dragAvatar: false,
    largeAvatarDialogOpened: false,
    parentDrzoneDimensions: null,
    largeAvatarDialogComplete: false,
    imgAvatarWidth: 1,
    imgAvatarHeight: 1,

    drzoneProps: { x: 0, y: 0, w: 128 },
    drzoneDisplayedProps: { x: 0, y: 0, w: 128, h:128 },

    usernameRules: [
      v => !!v || 'Username is required',
      v => (v && v.length >= 3) || 'Username must be more than 3 characters'
    ],
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid'
    ],
    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Password must be more than 8 characters',
      v => /[a-z]+/.test(v) || 'Password must contain at least one letter',
      v => /[0-9]+/.test(v) || 'Password must contain at least one number'
    ],
    cities: [],
  }),
  watch: {
    largeAvatarDialogOpened: function (val) {
      if(!val) {
        this.largeAvatarDialogComplete = false;
      }
    }
  },
  methods: {
    switchView : function () {
      if(this.$store.state.accountPanelView.displayedView=='loggedIn') {
        this.$store.dispatch('accountPanelView/displayView','settings');
        this.cities = [{ name: this.user.city, id: null }];
        this.placeId = null;
      }
      else {
        this.$store.dispatch('accountPanelView/displayView','loggedIn');
      }
    },

    loadCities: function() {
      this.geocoder.osmQuery(this.cityString)
      .then( (results) => { this.cities = results.map( (element) => { return { name: element['display_name'], id: element['place_id'] }; }); } );
    },

    openAvatarDialog: async function (size) {
      this.$store.commit('me/forgetAvatar','tmp', { root: true });
      this.user.avatars.load(size).then( () => {
        this.largeAvatarDialogOpened = true;
        var img = new Image;
        img.onload = () => {
          this.imgAvatarWidth = img.width;
          this.imgAvatarHeight = img.height;
          this.parentDrzoneDimensions = 'width: '+this.imgAvatarWidth+'px; height:'+this.imgAvatarHeight+'px;';
          this.largeAvatarDialogComplete=true;
          this.drzoneProps = { x: this.imgAvatarWidth/2-64, y: this.imgAvatarHeight/2-64, w: 128 };
          this.drzoneDisplayedProps = {
            x: Math.min(this.imgAvatarWidth/2-64,0.9*this.windowWidth/2-64*0.9*this.windowWidth/this.imgAvatarWidth,this.imgAvatarWidth/this.imgAvatarHeight*0.9*this.windowHeight/2-64*0.9*this.windowHeight/this.imgAvatarHeight),
            y: Math.min(this.imgAvatarHeight/2-64,0.9*this.windowHeight/2-64*0.9*this.windowHeight/this.imgAvatarHeight,this.imgAvatarHeight/this.imgAvatarWidth*0.9*this.windowWidth/2-64*0.9*this.windowWidth/this.imgAvatarWidth),
            w: Math.min(1,0.9*this.windowWidth/this.imgAvatarWidth,0.9*this.windowHeight/this.imgAvatarHeight)*128,
            h: Math.min(1,0.9*this.windowHeight/this.imgAvatarHeight,0.9*this.windowWidth/this.imgAvatarWidth)*128
          };
        }; // Tricks to get good dialog and parent object sizes for drzone and handle all possible sizes
        img.src = this.user.avatars[size];
      });
    },

    updateProfile: async function () {
      await this.$refs.formUpdateProfile.validate();
      if(this.validFormUpdateProfile) {
        this.$store.dispatch('me/updateProfile', this.placeId!=null ? { username: this.username, placeId: this.placeId } : { username: this.username })
        .then( () => { this.user.avatars.load('128'); });
      }
    },

    selectAvatar: async function (event) {
      this.$store.dispatch('me/updateAvatar', { avatar: event.target.files[0] })
      .then( () => { this.dragAvatar=false; this.openAvatarDialog('tmp'); });
    },

    dropAvatar: async function (event) {
      event.preventDefault();
      event.stopPropagation();
      this.$store.dispatch('me/updateAvatar', { avatar: event.dataTransfer.files[0] })
      .then( () => { this.dragAvatar=false; this.openAvatarDialog('tmp'); });
    },

    onResize: function (x, y, w) {
      this.drzoneProps.x = x*Math.max(1,this.imgAvatarWidth/0.9/this.windowWidth,this.imgAvatarHeight/0.9/this.windowHeight);
      this.drzoneProps.y = y*Math.max(1,this.imgAvatarWidth/0.9/this.windowWidth,this.imgAvatarHeight/0.9/this.windowHeight);
      this.drzoneProps.w = w*Math.max(1,this.imgAvatarWidth/0.9/this.windowWidth,this.imgAvatarHeight/0.9/this.windowHeight);
    },
    onDrag: function (x, y) {
      this.drzoneProps.x = x*Math.max(1,this.imgAvatarWidth/0.9/this.windowWidth,this.imgAvatarHeight/0.9/this.windowHeight);
      this.drzoneProps.y = y*Math.max(1,this.imgAvatarWidth/0.9/this.windowWidth,this.imgAvatarHeight/0.9/this.windowHeight);
    },

    cropAvatar: async function () {
      this.$store.dispatch('me/cropAvatar', this.drzoneProps)
      .then( () => { this.$store.state.me.user.avatars.load('128'); });
      this.largeAvatarDialogOpened = false;
      this.largeAvatarDialogComplete = false;
    },
  },
  mounted() {
    this.username = this.user.username;
    this.user.avatars.load('128');
  },
}
</script>

<style>
.v-dialog {
  width: unset;
}

.messageToUserSuccess {
  text-align: center;
  color: primary;
}

.messageToUserError {
  text-align: center;
  color: red;
}
</style>
