<template>
  <div style="margin-top: -64px;" v-if="$store.state.getMeHandshaked">
    
    <v-parallax :height="$vuetify.breakpoint.smAndDown ? $screen.height+80 : windowHeight" :src="require('../assets/barbecue1_comp.jpg')">
      <v-layout
          align-center
          column
          justify-end
          style="flex-grow: 8;"
        >
        <img :style="{ 'width': '300px', 'filter': 'invert(1) drop-shadow(0 0 5px black) drop-shadow(0 0 5px black)' }" :src="require('../assets/logo.svg')"/>
        <h4 class="subheading" style="text-shadow: 0 0 1px white; filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)">Meet on internet people who live next to you.</h4>
      </v-layout>

      <v-layout
          align-center
          column
          justify-center
          style="flex-grow: 4;"
        >
        <v-btn flat color="white" v-on:click="$store.state.accountPanelView.opened = true;" ><h1 style="text-shadow: 0 0 1px white; filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)">I'm part of it !</h1></v-btn>
      </v-layout>

      <v-layout
        align-center
        column
        justify-center
        style="flex-grow: 1;"
      >
        <v-flex><a href="http://gitlab.com"><img :src="require('../assets/gitlab.png')" style="width:113px; opacity: 0.75; filter: drop-shadow(0 0 1px black) drop-shadow(0 0 5px white) contrast(100%);"/></a></v-flex>
      </v-layout>
    </v-parallax>



    <v-parallax :height="$vuetify.breakpoint.smAndDown ? $screen.height+80 : windowHeight" :src="require('../assets/barbecue2_comp.jpg')">
      <v-layout
        align-end
        column
        justify-center
        style="margin-top: 30px;"
      ></v-layout>
      <v-layout
        align-center
        column
        justify-center
      >
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black); font-style: italic">VBBBQ - aka Very Big Barbecue - is a website created to fill a gap that its designer felt : there is no clear place on the web dedicated to relaxed discussions between strangers and involving a geographic dimension to permit common projects and to facilitate the birth of possible friendships.</h4>
      </v-layout>

      <v-layout
        align-end
        column
        justify-center
      >
        <v-flex :style="{ 'width': Math.max(360,0.4*windowWidth)+'px' }"><h2 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">We try to reproduce social mechanisms of real life.</h2>
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">VBBBQ is neither a Social Network, neither a chat, neither a forum. VBBBQ takes the best of each of them to build something more... human-oriented. That means, discussion groups without precise topic, freely joinable and implicating as many participants as you like.</h4></v-flex>
      </v-layout>
    
      <v-layout
        align-start
        column
        justify-center
      >
        <v-flex :style="{ 'width': Math.max(360,0.4*windowWidth)+'px' }"><h2 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Thought as a way to break the bubbles.</h2>
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Tired of having relationships that are limited to specifics contexts ? By suggesting discussions involving your neighbours, we give you the opportunity to transfer the connexions you build there into real life. That's why VBBBQ's algorithm is based on a single criteria : geographic proximity.</h4></v-flex>
      </v-layout>
    </v-parallax>


    <v-parallax :height="$vuetify.breakpoint.smAndDown ? $screen.height+80 : windowHeight" :src="require('../assets/barbecue3_comp.jpg')">
      <v-layout
        align-end
        column
        justify-center
        style="margin-top: 50px;"
      ></v-layout>
      <v-layout
        align-end
        column
        justify-center
      >
        <v-flex :style="{ 'width': Math.max(360,0.4*windowWidth)+'px' }"><h2 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Sober and ergonomic.</h2>
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Opening a lot of discussions and let them take all space on screen... isn't it what you needed since the birth of text messaging services ? VBBBQ uses the most moderns web technologies, and everything is thought to ensure that you have the most enjoyable experience.</h4></v-flex>
      </v-layout>

      <v-layout
        align-start
        column
        justify-center
      >
        <v-flex :style="{ 'width': Math.max(360,0.4*windowWidth)+'px' }"><h2 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">A minimalist confidentiality policy.</h2>
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">The messages you post can be seen by conversations' participants at the time you sent it, and only by them. Minimal amount of personnal information is asked and even less is accessible to other members. Logical but reassuring.</h4></v-flex>
      </v-layout>

      <v-layout
        align-end
        column
        justify-center
      >
        <v-flex :style="{ 'width': Math.max(360,0.4*windowWidth)+'px' }"><h2 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Open source.</h2>
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">VBBBQ's source code is available on GitLab. You can quite easily launch your own VBBBQ private server and propose improvements.</h4></v-flex>
      </v-layout>

      <v-layout
        align-center
        column
        justify-center
      >
        <v-flex :style="{ 'width': Math.max(360,0.5*windowWidth)+'px', 'color': 'red' }"><h2 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Still in alpha.</h2>
        <h4 style="text-shadow: 0 0 1px black; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">VBBBQ is in alpha. That means issues can exist, and all imagined aspects are not implemented yet. Still, the core features are already fully usable. Investment of it's designer in future improvements will depends of community's reception and help.</h4></v-flex>
      </v-layout>

      <v-layout
        align-center
        row
        justify-center
        shrink
      >
          <h4 class="font-weight-thin" style="opacity: 0.7; text-shadow: 0 0 1px white; margin-right: 20px; filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black)">Build with :</h4>
          <a href="http://sailsjs.com"><img :src="require('../assets/sails.png')" style="width:50px; margin-left: 30px; margin-right: 30px; opacity: 0.7; filter:  drop-shadow(0 0 1px black) drop-shadow(0 0 5px white);"/></a>
          <a href="http://vuetifyjs.com"><img :src="require('../assets/vuetify.png')" style="width:50px; margin-left: 30px; opacity: 0.7; filter:  drop-shadow(0 0 1px black) drop-shadow(0 0 5px white);"/></a>
      </v-layout>
    </v-parallax>
  </div>
</template>

<script>

export default {
  name: 'welcome',
  components: {

  },
  data: () => ({

  }),
  computed: {

  },
  methods: {

  },
  mounted() {

  },
}
</script>

<style>

</style>
