<template>
  <v-app :dark="dark">
    <v-toolbar app clipped-left :flat="$store.state.mainContentView.displayedView=='welcome'" :color="$store.state.mainContentView.displayedView=='welcome' ? 'rgba(0,0,0,0)' : 'rgba(1,1,1,0)'" height="64">
      <v-toolbar-title class="headline text-uppercase" >
        <img :style="{ 'height': '55px', 'margin-top': '7px', 'filter': $store.state.mainContentView.displayedView=='welcome' || dark ? 'invert(1)' : 'invert(0)' }" :src="require('./assets/logo.svg')"/>
      </v-toolbar-title>
      <div style="margin-left: 30px;"></div>
      <v-badge v-if="$store.getters['me/loggedIn']" overlap>
        <template v-slot:badge v-if="count!=0" >
          <span style="font-size: 10px;">{{ count }}</span>
        </template>
        <v-toolbar-side-icon v-on:click="menuChangeState"><v-icon>mail</v-icon></v-toolbar-side-icon>
      </v-badge>
      <v-toolbar-side-icon v-if="$store.state.mainContentView.displayedView=='dashboard'" v-on:click="$store.dispatch('mainContentView/displayView','meetingPlace')"><v-icon>view_headline</v-icon></v-toolbar-side-icon>
      <v-toolbar-side-icon v-if="$store.state.mainContentView.displayedView=='meetingPlace'" v-on:click="$store.dispatch('mainContentView/displayView','dashboard')"><v-icon>dashboard</v-icon></v-toolbar-side-icon>
      <v-toolbar-side-icon v-if="$store.state.mainContentView.displayedView!='welcome'" v-on:click="dark = !dark"><v-icon>wb_sunny</v-icon></v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <search-bar v-if="$store.getters['me/loggedIn'] && !$vuetify.breakpoint.smAndDown"/>
      <v-spacer></v-spacer>

      <v-menu v-model="$store.state.accountPanelView.opened" bottom left offset-y :close-on-content-click="false">
        <template v-slot:activator="{ on }">
          <v-btn icon flat v-on="on" v-on:mouseenter=" () => { $store.state.accountPanelView.opened = true; }" v-on:touchstart=" (e) => { e.preventDefault(); $store.state.accountPanelView.opened = !$store.state.accountPanelView.opened; }" :color="$store.state.mainContentView.displayedView=='welcome' || dark ? 'white' : 'black'">
            <v-icon>person</v-icon>
          </v-btn>
        </template>
        <account-panel/>
      </v-menu>
      
      <!-- <v-toolbar-side-icon icon v-on:click="testMethod">
        <v-icon>sync</v-icon>
      </v-toolbar-side-icon> -->
    </v-toolbar>

    <v-navigation-drawer
      v-model="leftMenuState"
      v-if="$store.state.mainContentView.displayedView!='welcome'"
      clipped
      fixed
      app
    >
      <conversations-menu v-on:close-menu="menuChangeState"/>
    </v-navigation-drawer>

    <v-content>
      <v-layout column fill-height align-content-space-around>
        <v-layout justify-space-around><search-bar v-if="$store.getters['me/loggedIn'] && $vuetify.breakpoint.smAndDown" style="width: 90%;"/></v-layout>
        <router-view></router-view>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import AccountPanel from './components/AccountPanel'
import SearchBar from './components/SearchBar'
import ConversationsMenu from './components/ConversationsMenu'

export default {
  name: 'App',
  components: {
    AccountPanel,
    SearchBar,
    ConversationsMenu,
  },
  data () {
    return {
      leftMenuState: false,
      dark: false,
    }
  },
  computed: {
    count: function() {
      var countUnchecked = 0;
      var countTitle = 0;
      this.$store.state.me.user.conversations.concat(this.$store.state.me.user.invitations).forEach( (conversation) => {
        if(!this.leftMenuState && conversation.unchecked) {
          countUnchecked++;
        }
        if(conversation.unchecked && conversation.unclicked) {
          countTitle++;
        }
      });
      document.title = countTitle==0 ? 'VBBBQ' : '('+countTitle+') VBBBQ';
      return countUnchecked;
    },
  },
  methods: {
    testMethod: function () {
      console.log('ping');
      this.$io.socket.get('/api/ping-pong', (res) => {
        console.log(res.message);
      });
    },

    menuChangeState: function () {
      if(!this.leftMenuState) {
        this.$store.state.me.user.conversations.concat(this.$store.state.me.user.invitations).forEach( (conversation) => {
          this.$store.dispatch('conversations/updateConversation', { id: conversation.id, lastCheckedAt: Date.now() });
        });
      }
      this.leftMenuState = !this.leftMenuState;
    }
  },
  beforeCreate: function () {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", process.env.VUE_APP_URL+"/security/grant-csrf-token", true);
    xhr.addEventListener("load", () => {
      switch(xhr.status) {
        case 200:
          document.cookie = '_csrf='+JSON.parse(xhr.response)._csrf;
          this.$store.state.csrfReady = true;
        break;
      }
    });
    xhr.send();
  }
}
</script>
